*{
    margin: 0;
    padding: 0;   
}
html{
    /* Incluye por defecto la barra de desplazamiento vertical  y ocultar barra horizontal*/
    overflow-y: scroll;
    overflow-x: hidden;
    /* Evita que border y padding sumen en el ancho o alto de los elementos */
    box-sizing: border-box;
    background-color:#f2f2f2;
   }
   /* Evita que border y padding sumen en el ancho o alto de los elementos */
   *, *:before, *:after { box-sizing: inherit; }
   
body{
    background-color: #f2f2f2 !important;
}
a{
    text-decoration: none !important;
    color: #212529 !important;
    cursor: pointer;
}
a:hover{
    text-decoration: none !important;
    color: #212529;
}
nav a{
    color:white !important;
}
.dropdown-item{
    color: black !important;
}
.navbar{
     background: rgba(245, 83,83) !important;
     z-index: 1;
 }
 .navbar-nav{
    font-family: Arial, Helvetica, sans-serif;
 }
#head{
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    margin:0;
    padding:0;
}
.tamano{
    font-size: 3rem !important;
}

.float-right{
    display: flex;
    flex-direction: row;
}
nav ul{
    display: flex;
    flex-direction: row !important;
}
nav ul li{
    margin-right: 1rem;
}
ul a{
    color:#fff !important;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #212529;
}
.nav-item{
    list-style: none;
    cursor: pointer;
}
 /*Contenido por genero*/
 .main-primero{
    background: #f2f2f2;
    text-align: center;
    padding-top:10%;  
 }
 #carrusel {
    float:center;
    width:auto;
    /*overflow:hidden;*/
    height:350px;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
.carrusel {
    width:4000px;
    left:50px;
    position:relative;
    
}
.carrusel>div {
    float: left;
    margin-right: 5px;
    text-align:center;
    
}
.carrusel img {
    cursor:pointer;
}
.cajaTitulo{
    width: 215px;
}

#cajaUsu{
    display: flex;
    flex-direction: column;
    /*border: 1px solid black;*/
    align-items: center;
    margin: 20px 20px;
}

/*CAJA DE PELICULAS*/
.contenedorInfo{
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid black;*/
    justify-content: center;
}
.negrita{
    font-weight: bold;
}
.cajaInfo{
    text-align: left;
    width: 500px;
    /*border: 1px solid black;*/
    margin-left: 20px;
    margin-bottom: 40px;
}
.cajaInfo p{
    margin:0;
}
.cajaImage{
    width: 500px;
    /*border:1px solid black;*/
}

.cajitas{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    /*border: 1px solid black;*/
}
.cajitas div{
    border: 1px solid #e0a800;
    color: #212529;
    background: #F9DB6D;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: .85rem;
    border-radius: .2rem;
    text-decoration: none;
}

/*caja buscar pelicuas*/
.cajaPeliculasFlex{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 7.5%;
}
.cajaPeliculasFlex div{
    margin-right: 5px;
    margin-bottom: 2rem;
}
h4{
    text-align: left;
    display: block;
    margin-left: 7.5%;
}
.cajaPeli:hover{
    transform: scale(1.25,1.25);
}
.inputPeli{
    overflow: hidden;
}

/*PAGINA INDEX*/
.form-group button{
    margin: 0 13px;
}
.form-group a{
   text-decoration: none;
   color: #212529;
}

/*admin*/
.usu{
    /*border:1px solid #e0a800;*/
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
}

.central{
    margin:0 auto;
}
.opinion{
    background-color: rgb(255, 255, 255);
    border-radius: .2rem;
    width: 50%;
    margin: .5% 25%;
    padding: .5rem .5rem;
}
.posicionC{
    margin-left: 25%;
    margin-top: 2rem;
}
#pub{
    margin-left: 25%;
}
.seleccion{
    /*border:1px solid black;*/
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}
.tipo{
    width: 150px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px 10px;
    border: 1px solid #e0a800;
    color: #212529;
    background: #F9DB6D;
    cursor: pointer;
    font-size: .85rem;
    border-radius: .2rem;
    text-decoration: none;
}
.tipo:hover{
    background-color: #e0a800;
    border-color: #d39e00;
}
.peliForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
}
.hide{
    display: none;
}

@media all and (max-width:700px){
    .main-primero{
        margin-top:195px;    
      }
      .opinion{    
        width: 80%;
        margin: 0 10%;
    }
    .posicionC{
        margin-left: 10%;
    }
    #pub{
        margin-left: 10%;
    }
}
@media all and (max-width:585px){
    .float-right{
        flex-wrap: wrap;
    }
    
}
@media all and (max-width:1100px) and (min-width:701px){
    .main-primero{
        margin-top:125px;    
      }
}